{
  "presets": [
    "es2015"
  ],
  "plugins": [
    "syntax-flow",
    "transform-flow-strip-types"
  ],
  "env": {
    "commonjs": {
      "plugins": [
        ["transform-es2015-modules-commonjs", {
          "loose": true
        }]
      ]
    }
  }
}

