{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "node": true
    },
    "extends": "airbnb",
    "rules": {
        "no-underscore-dangle": [
            "error",
            {
                "allowAfterThis": true
            }
        ]
    }
}
