$brand-primary: #e06a60;
$header-bg: #000;
$body-bg: #17191b;
$header-color: #939396;
$text-color: lighten(#939396, 10%);

$font-family-base: 'Source Sans Pro', sans-serif;
$font-size-base: 18px;
$headings-font-weight: 300;

@import "vendor/bootstrap";

.header-wrapper {
	position: relative;
	margin: 0;
	padding: 0;

	min-height: 99vh;

	background-color: $header-bg;
	background-image: url('../assets/header-bg.png');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: bottom;
	background-size: cover;

	padding-bottom: 30px;

	
	box-shadow: 0 4px 4px -2px #000;
	-moz-box-shadow: 0 4px 4px -2px #000;
	-webkit-box-shadow: 0 4px 4px -2px #000;

	color: $header-color;

	img {
		display: block;
		margin: 60px auto 30px auto;
		width: 100%;
		max-width: 352px;
	}

	h1 {
		@extend .sr-only;
	}

	.lead {
		text-align: center;
		font-weight: 400;
	}

	canvas {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		margin: 0;
		padding: 0;
	}
}

.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6 {
	color: #d83e31;
}

tt {
	font-size: 0.8em;
}

.sidebar {
	width: 200px;
	bottom: 0;

	padding-top: 30px;
	font-size: 0.85em;

	ul {
		margin: 0;
		padding: 0;

		li {
			list-style-type: none;
			text-transform: uppercase;
		}

		li ul {
			padding-left: 10px;
			padding-bottom: 10px;
		}

		li li {
			text-transform: none;
		}
	}
}

.main {
}

.method-docs {
	@extend .dl-horizontal;

	ul li {
		list-style-type: none;
	}
}

h1, h2, h3, h4, h5, h6 {
	.label-chainable {
		@extend .label;
		@extend .label-default;
		@extend .pull-right;

		display: inline-block;
		margin-top: 8px;
		font-size: $font-size-base * 0.6;
	}

	&:hover {
		.label-chainable {
			@extend .label-primary;
		}
	}
}

